.App {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60vw;
	height: 100vh;
	padding: 0 20vw;
}

.App-header {
	font-size: 10vh;
	font-family: 'Dosis';
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 0;
}

.App-ticker {
	font-size: 10vh;
	margin: 0;
	padding: 0;
}

.App-modal {
	background-color: #d95;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 36vh;
	font-family: 'Dosis';
	font-weight: bold;
}
