body {
	margin: 0;
	background-color: #447756;
	color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	font-family: 'Roboto';
  font-size: 4vh;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1vh solid #fff;
  padding: 1vh 2vw;
  border-radius: 0.5vw;
  font-size: 3vh;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/DosisBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed.woff2) format('woff2');
}

.fade-enter {opacity: 0.01; }
.fade-enter.fade-enter-active {opacity: 1; transition: opacity 500ms ease-in; }
.fade-leave {opacity: 1; }
.fade-leave.fade-leave-active {opacity: 0.01; transition: opacity 300ms ease-in; }